* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 26, 26);
}

.container-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}