* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
}

button {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  background-color: white;
}
button:active {
  transform: translateY(5px);
  transition: all 0.2s ease-in-out;
}

.container-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-slider .container-images {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
}
.container-slider .container-images p {
  color: white;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
}
.container-slider button {
  margin: 30px;
}
.container-slider .next-button {
  transform: rotate(180deg);
}

.container-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  gap: 16px;
}
.container-dots .dot {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.container-dots .dot.active {
  background-color: rgb(255, 0, 0);
}

@media (max-width: 1024px) {
  button {
    width: 40px;
    height: 40px;
  }
  button img {
    width: 38px;
    height: 38px;
  }
  .container-slider .container-images {
    width: 400px;
    height: 450px;
  }
  .container-slider .container-images p {
    margin-top: 1rem;
  }
  .container-dots .dot {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 768px) {
  .container-slider .container-images {
    width: 300px;
    height: 350px;
  }
  .container-slider .container-images img {
    width: 300px;
  }
  .container-slider .container-images p {
    font-size: 1rem;
  }
  .container-dots .dot {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  button {
    width: 35px;
    height: 35px;
  }
  button img {
    width: 33px;
    height: 33px;
  }
  .container-slider .container-images {
    width: 250px;
    height: 300px;
  }
  .container-slider .container-images img {
    width: 250px;
  }
  .container-dots .dot {
    width: 25px;
    height: 25px;
  }
}